body{
    font-family:"Roboto", sans-serif;
    min-width: 380px;
}

/* Header */

.btn-menu{
    background-color: rgba(0, 0, 255, 0.2);
    padding: 0.5em;
    border: 1px solid blue;
    box-shadow: 4px 4px 0 blue;
}

button{
    color:inherit;
}

/* retirer l'héritage de la navbar */
.navbar-brand {
    margin-right: unset;
}

/* Main-accueil */

.liste-container{
    width: 60%;
    overflow: scroll;
    border: 2px solid black;
    height: 300px;
}

td:not(:last-child), th:not(:last-child){
    border-right: 2px solid black;
}

/* Main-informations */

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc{
    overflow: scroll;
    border: 2px solid black;
    height: 30vh;
}

.style{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* Theme */

body.clair{
    background-color: #ffffff;
    color: #121212;
}

body.sombre{
    background-color: #060031;
    color: #ffffff;
    
}

/* navbar bootstrap theme */

body.sombre .navbar,
body.sombre .navbar-collapse {
    background-color: #060031;
    color: #ffffff;
}

body.sombre .nav-link {
    color: #ffffff !important;
}

body.sombre .navbar-toggler {
    border-color: #ffffff;
}

body.sombre .navbar-toggler-icon {
    filter: invert(1);
}

/* Responsive */

@media screen and (max-width: 576px) {
    
    #titre{
        font-size: 1.2rem!important;
    }
}


@media screen and (min-width: 200px) and (max-width: 576px) {
    
    .navbar-brand img{
        width: 90%;
        ;
    }

    h2{
       font-size: 1.2rem!important; 
    }
}




/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
